<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>745987003547-ri15bofg2ooe8bpf0f13f29pts12l4uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.745987003547-ri15bofg2ooe8bpf0f13f29pts12l4uv</string>
	<key>API_KEY</key>
	<string>AIzaSyCk9pdkEoG-22Y5CSiQ32IUni5qv37yB0g</string>
	<key>GCM_SENDER_ID</key>
	<string>745987003547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ABzhnsk.ListOfMusicApp</string>
	<key>PROJECT_ID</key>
	<string>musicitunesapi</string>
	<key>STORAGE_BUCKET</key>
	<string>musicitunesapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745987003547:ios:657743d9faf33f775f623e</string>
</dict>
</plist>